@import './variables.css';

/* Reset & Base Styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family-secondary);
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-900);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-primary);
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 { font-size: var(--font-size-4xl); }
h2 { font-size: var(--font-size-3xl); }
h3 { font-size: var(--font-size-2xl); }
h4 { font-size: var(--font-size-xl); }
h5 { font-size: var(--font-size-lg); }
h6 { font-size: var(--font-size-base); }

p { margin: 0 0 var(--space-4); }

.font-bold { font-weight: 600; }
.font-italic { font-style: italic; }